<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <div class = "left-nav">
          <div id = "kabush-logo"> </div>
        </div>
        <ul class = "right-nav"> 
          <li><%= link_to "Mission", "#" %></li>
          <li><%= link_to "Technology", "#" %></li>
          <li><%= link_to "Team", "#" %></li>
          <li><%= link_to "Blog", "#" %></li>
          <li class = "enter-button"><%= link_to "Enter", "#" %></li>
        </ul>
      </nav>
    </div>
  </header>